@page "/about"

<div class="container vh-100">
    @if (Environment.GetEnvironmentVariable("CHINA") == null) {
        <h1 class="display-4">About</h1>
    } else {
        <h1 class="display-4 mt-5 pt-5">关于咖啡能</h1>
        <p>咖啡能科技有限公司成立于2015年，致力于研发/打造互动性媒体。其主营业务为帮助商家轻松简单的获取与市场相符的广告内容，平台为中国出口跨境能为电商提供所有在国际舞台上有效的市场营销所需的资源。</p>
        <p>在澳洲、加拿大、美国、中国，咖啡能都有合作伙伴，致力研发/打造符合需要的媒体内容。</p>
        <p class="lead mt-3">公司地址：</p>
        <p>深圳市福田区香林路东海花园</p>
        <p>Grey St, South Brisbane QLD 4000 Australia</p>
    }
    
</div>

@code {

}
