<!-- Index.razor -->
@page "/"
@using Microsoft.AspNetCore.Components.Routing

<div class="container mt-5">
    <div class="row">

        <div class="col-12 col-md-7 my-3">
            <h1 class="display-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <NavLink href="/development">See project development blog</NavLink>
        </div>
        <div class="col-12 col-md-5 my-3">
            <img class="img-fluid" src="images/project-highschool.jpg" />
        </div>

        <div class="col-12 col-md-5 my-3">
            <img class="img-fluid" src="images/website-offering.jpg" />
        </div>
        <div class="col-12 col-md-7 my-3">
            <h1 class="display-4">Tortor consequat id porta nibh venenatis cras sed</h1>
            <p>Ipsum faucibus vitae aliquet nec ullamcorper sit amet. Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.</p>
            <NavLink href="/solutions">See web presence solutions</NavLink>
        </div>

    </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white my-4">
    <div class="container">
        <p class="h1 text-center">The most robust solution for every marketing possibility.</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid bg-primary my-5">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-12 col-md-7 my-3">
            <h1 class="display-4">Cras pulvinar mattis nunc sed blandit. Integer enim neque volutpat ac tincidunt vitae semper quis.</h1>
            <p>Venenatis cras sed felis eget velit aliquet sagittis id. Porttitor leo a diam sollicitudin tempor id eu nisl. Facilisis volutpat est velit egestas dui id.</p>
            <NavLink href="/development">Read more</NavLink>
        </div>
        <div class="col-12 col-md-5 my-3">
            <img class="img-fluid" src="images/website-report.jpg" />
        </div>

    </div>
</div>

<div class="container-fluid my-5 px-5 mb-5" style="background: url(images/banner-bg.jpg); height: 67vh;">
    <div class="row align-items-end h-100">
        <div class="col-12 col-md-6 p-5 bg-white">
            <h1>Promotional Video</h1>
            <p>At augue eget arcu dictum. Sit amet nulla facilisi morbi tempus. Consequat interdum varius sit amet mattis vulputate. Non blandit massa enim nec dui nunc mattis.</p>
            <NavLink href="/devblogs">Read more</NavLink>
        </div>
        <div class="col-12 col-md-6 p-5 bg-white">
            <h1>Interactive Promotion</h1>
            <p>Ultrices gravida dictum fusce ut. Lorem dolor sed viverra ipsum nunc aliquet bibendum. Auctor augue mauris augue neque.</p>
            <NavLink href="/devblogs">Read more</NavLink>
        </div>
    </div>
</div>