<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <div class="d-flex">
            <h1 class="lead">Follow us</h1>
            <p>[Icon}</p>
            <p>[Icon}</p>
            <p>[Icon}</p>
        </div>
        <hr />
        <div class="row" style="height: 30vh">
            <div class="col-12 col-md-4">
                <h1 class="h4">Navigations</h1>
            </div>
            <div class="col-12 col-md-4">
                <h1 class="h4">Solutions</h1>
            </div>
            <div class="col-12 col-md-4">
                <h1 class="h4">Legals</h1>
            </div>
        </div>
    </div>
</div>

@code {

}
